@font-face {
  font-family: "Open Sans";
  src: url(https://cdn.openai.com/API/fonts/OpenSans-Regular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/OpenSans-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(https://cdn.openai.com/API/fonts/OpenSans-Regular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/OpenSans-Regular.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.container {
  text-align: center;
}

.logoHeader {
  max-height: 50px;
  margin-left: 0;
  margin-right: auto;
}

.main .chatbox {
  background: white;
  height: 100vh;
  width: 70%;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .chat {
  padding: 1em;
  display: flex;
  flex-grow: 1;
  text-align: left;
  flex-direction: column;
  overflow: scroll;
}

.main .chat div {
  flex-grow: 1;
}

.main .logoIcon {
  vertical-align: middle;
  max-height: 2em;
  display: inline-block;
}

.main .chat p {
  display: inline-block;
  color: white;
  padding: 1em;
  max-width: 80%;
  border-radius: 0.5em;
  background-color: rgb(13, 13, 171);
}

.main form {
  padding: 2%;
  padding-bottom: 2em;
  box-shadow: 0px 12px 24px 0px rgba(149, 157, 165, 0.2);
}

.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="text"] {
  width: 90%;
  height: 1em;
  padding: 1.2em;
  border: 1px solid black;
  border-radius: 2em;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.06);
  margin-left: -20px;
}
.main input[type="submit"] {
  margin-left: -50px;
  height: 30px;
  width: 30px;
  background: white;
  color: rgb(13, 13, 171);
  font-weight: bold;
  font-size: 1.1em;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}
.main .about {
  width: 30%;
  height: 100vh;
  background: #12004a;
  float: left;
  display: flex;
  flex-direction: column;
}

.main .description {
  max-width: 700px;
  margin: 0 auto;
}

.main .about h3 {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: auto;
}

.main .partners {
  align-self: flex-end;
  margin-bottom: 2em;
  margin-top: 2em;
}

.main .partners img {
  width: auto;
  margin: 0 2em;
  width: 15%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.title {
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 2em;
}

.description {
  color: white;
  padding: 2em;
}

.loading {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

@media screen and (max-width: 1164px) {
  .main .partners img {
    margin: 0 1em;
  }
}

@media screen and (max-width: 1024px) {
  .main .chatbox {
    width: 100%;
    height: 90vh;
  }
  .main .about {
    width: 100%;
    height: auto;
  }
  .main .partners img {
    width: 10%;
    margin: 0 1em;
  }
}


@media screen and (max-width: 400px) {
  .main .partners img {
    width: 14%;
  }
}
