@font-face {
  font-family: "Open Sans";
  src: url(https://cdn.openai.com/API/fonts/OpenSans-Regular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/OpenSans-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(https://cdn.openai.com/API/fonts/OpenSans-Regular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/OpenSans-Regular.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.container {
  text-align: center;
  margin: 50px 20px;
}

.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
}
.main .icon {
  width: 100px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 20px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #10a37f;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.main .chatbox {
  background: white;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 0.5em;
  margin: 20px 0;
  text-align: left;
  height: 250px;
  overflow-y: scroll;
}

.chat {
  display: inline-block;
  max-width: 900px;
  width: 65%;
  padding: 2em;
  vertical-align: top;
  border-radius: 1em;
  background-color: #6ac3c8;
}
.chatbox p {
  padding: 0;
  margin: 0;
}
.healthchat__messages {
  padding: 1em; 
  background-color: #f4f4f4;
}
.user__messages {
  padding: 1em; 
  background-color: #fff;
}

.about {
  width: 20%;
  padding: 2%;
  margin: 0 2em;
  display: inline-block;
  border-radius: 1em;
  background-color: #6ac3c8;
}

.partners {
  max-width: 28%;
  margin: 2%;
}