@font-face {
  font-family: "Open Sans";
  src: url(https://cdn.openai.com/API/fonts/OpenSans-Regular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/OpenSans-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(https://cdn.openai.com/API/fonts/OpenSans-Regular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/OpenSans-Regular.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.container {
  text-align: center;
}

.logoHeader {
  max-height: 50px;
  margin-left: 0;
  margin-right: auto;
}

.main .chatbox {
  background: white;
  height: 100vh;
  width: 70%;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .chat {
  padding: 1em;
  display: flex;
  flex-grow: 1;
  text-align: left;
  flex-direction: column;
}

.main .chat div {
  flex-grow: 1;
}

.main .logoIcon {
  vertical-align: middle;
  max-height: 2em;
  display: inline-block;
}

.main .chat p {
  display: inline-block;
  color: white;
  padding: 1em;
  max-width: 80%;
  border-radius: 0.5em;
  background-color: rgb(13, 13, 171);
}

.main form {
}

.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="text"] {
  width: 95%;
  height: 1em;
  padding: 2%;
  border: 1px solid black;
  border-radius: 2em;
}
.main input[type="submit"] {
  margin-left: -50px;
  height: 30px;
  width: 30px;
  background: white;
  color: rgb(13, 13, 171);
  font-weight: bold;
  font-size: 1em;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}
.main .about {
  width: 30%;
  height: 100vh;
  background: rgb(13, 13, 171);
  float: left;
}

.debug {
  color: white;
  text-align: left;
}
